html{
}
/*login & register*/
.login-container{
    margin: 10rem 5rem 10rem 5rem
}
.login-banner{
    position: absolute;
    height: 100vh;
    width: 50vw;
    background-color: #1fb6ff ;
    overflow:auto;
    top: 0;
    right: 0;
}
.slide-in{
    -webkit-animation: ease-in forwards ;
    -webkit-animation-name: slideMeIn;
    -webkit-animation-duration: 1s;
}
.slide-out{
    -webkit-animation: ease-in forwards ;
    -webkit-animation-name: slideMeOut;
    -webkit-animation-duration: 1s;
}
.second-chance-logo{
     opacity: 0.7;
 }
.spin-me{
    -webkit-animation: ease-in forwards;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1s;
}
.spin-me-back{
    -webkit-animation: ease-in forwards;
    -webkit-animation-name: spin-back;
    -webkit-animation-duration: 1s;
}
@keyframes slideMeIn {
    0%{
       right:0;
    }
    100%{
        right: 50%;

    }
}
@keyframes slideMeOut {
    0%{
       left:0;
    }
    100%{
        left: 50%;

    }
}
@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(-360deg);
    }
}
@keyframes spin-back {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

/*- guided registration -*/
.preview{
    position: relative;
    top : 0;
    left: 0;
}
.previewPCImage{
    position: relative;
    width : 760px !important;
    max-width: 760px;
    max-height: 225px;
}
.previewPPImage{
    position: absolute;
    top : 110px;
    left : 30px;
    height: 165px;
    width: 165px;
    border-radius: 50%;
}
.exp-button{
    color: white;
    text-decoration: none;
    border-radius: 60px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    overflow:hidden;
    width: auto;
    max-width: 32px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
}
.exp-admin {
    background-color: #099;
}
.exp-block {
    background-color: #ca212a;
}
.exp-button:hover {
    max-width: 300px;
    color: white;
}

.exp-icon {
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    margin-right: 18px;
    padding: 0px ;
    display: flex;
    align-items: center;
}
.exp-text {
    white-space: nowrap;
    padding-right: 15px;
}



